<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Travel App</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Sora&display=swap"
			rel="stylesheet" />
		<link rel="stylesheet" href="styles.css" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/3ebcd25298.js"
      crossorigin="anonymous"
    ></script>
	</head>
	<body id="home-body">
		<header>
			<nav class="nav-bar">
				<div class="logo">Wanderlust</div>
				<ul class="nav-links">
					<li><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#services">Services</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>
		</header>
          <div class="landing-page"></div>
      <section class="landing-text">
        <h1>Welcome to Wanderlust ✈</h1>
        <p>Plan, Explore, and Experience the World Your Way!</p>
        <a href="./form.html">
          <button id="go-button">
            <i class="fas fa-caret-down">Click Here</i> </button>
		</a>
      </section>
    </div>
	</body>
		  <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
</html>
