<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Travel App</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Sora&display=swap"
			rel="stylesheet" />
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body id="home-body">
		<header>
			<nav>
				<div>
					<ul>
						<li>Profile</li>
						<li>Search</li>
						<li>Top Rated</li>
						<li>Sign Up</li>
						<li>Sign In</li>
					</ul>
				</div>
			</nav>
		</header>
		<h1>Travel App</h1>
	</body>
	<script></script>
</html>
